.hidden {
    display: none;
}
.grass {
    background-image: url(../images/grass.jpg);
    background-repeat: repeat;
}
.navbar {
    background: #2b2c2d; /* Old browsers */
    background: -moz-linear-gradient(top, #595959 0%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #595959 0%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #595959 0%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
 }
i.fas.fa-football-ball {
    color: white;
}
.logo-l {
    font-weight: bold;
    color: #DD0000;
}
.logo-r {
    font-weight: bold;
    font-style: italic;
    color: #fff;
}
.opacity-1 {
    opacity: .1;
}
.opacity-f {
    opacity: 1;
}
.splash {
    position: absolute;
    top: 25%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: black;
    width: 40rem;
    height: 20rem;
    background-color: #eee;
    z-index: 9999;
    border-radius: 25px;
    box-shadow: 10px 10px 20px #ddd;
    text-align: center;
}
.splash h1 {
    color: black;
    margin-top: 6.5rem;
}
.mh-200 {
  min-height: 250px;
}
div.letters {
    font-size: 2rem;
    width: 1.5rem;
    border-bottom: 3px solid #000;
}
div.space {
    width: 1.5rem;
}
.letters  {
    margin-right: 1rem;
}
.category {
  background-color: #fff;
  padding: .3rem;
  position: absolute;
  bottom: 60px;
  width: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #000;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
@keyframes pulse {
    from { transform: scale(1); }
    50% { transform: scale(0.95); }
    to { transform: scale(1); }
  }

.pulse {
animation-name: pulse;
animation-duration: 2s;
animation-iteration-count: infinite;
}
.ba-1 {
    border: 1px solid #ccc;
    border-collapse: collapse !important;
}
.marker {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.2rem;
    color: #131313;
}
.bg-play {
  background-image: url(../images/play.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.letters-picked {
    text-align: center;
    width: 330px;
    height: 400px;
    margin: auto;
}
.scoreboard {
  margin: auto;
  background: #3f3f3f;
  height: 200px;
}
.home-wrap {

}
.sb-lbl {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.score-total, .miss-total, .score-time, .hint-total {
  font-family: 'Black Ops One', cursive;
  color: red;
  background: #000;
  text-align: center;
  text-shadow: 1px 1px 1px red;
  border:3px solid #999;
}
.score-total, .miss-total, .score-time {
  font-size: 50px;
}
.hint-total {
  font-size: 20px;
  padding: 2px 5px;
}
.footer {
    background: #000;
    color: #595959;
    text-align: center;
    min-height: 110px;
}
